<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<h1>Login Page</h1>
ログインページ<br>
<form method="post" th:object="${loginForm}" action="/doLogin">
    <div id="login">
        ID
        <input type="text" name="userName">
        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
        <br>

        Password
        <input type="password" name="password">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <br>

        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>